.main-seccion__btnRegIng {
  @include cont-modal;
  .main__botFlot-Reg {
    @include botones(0px);
    background-color: $colorSecun;
    position: fixed;
    top: 500px;
    right: -78px;
    padding-left: 3rem;
    transition: all 500ms ease;
    &:hover {
      color: $colorPrim;
      padding-left: .2rem;
      transform: translate(-96%, 0);
      transition: 600ms;
    }
  }
  .main__botFlot-ing {
    @include botones(0px);
    position: fixed;
    top: 540px;
    right: -120px;
    padding-left: 3rem;
    &:hover {
      padding-left: .2rem;
      transform: translate(-96%, 0);
      transition: 600ms;
    }
  }
}
