.header {
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  background-color: $colorTerc;
  box-shadow: 0px 1px 5px 0px gray;
  border-radius: 2px 12px 2px 12px;
  margin: 0 1rem;
  .header-nav {
    margin: 0;
    padding: 0;
    /*logo*/ //logo
    .header-nav__logo {
      background-color: $colorSecun;
      color: $colorPrim;
      font-family: $fuenteTitLink;
      border-radius: 2px 8px 2px 8px;
      padding: 0.2rem 0.3rem;
      margin: 0;
      &:hover {
        transform: scale(1.02, 1.02);
        transition: 300ms;
      }
    }
  } //menu /*menu*/
  .header-nav__menu {
    justify-content: right;
    .header-nav__ulMenu {
      text-align: center;
      align-items: center;
      .header-nav__liItems {
        margin: 0 2rem;
        transform: scale(1.07, 1.07);
        @include efectos-menu ($colorPrim, $colorSecun, $colorPrim);
      }
      .header-nav__liItemBoton  {
        margin: 0 4rem;
        transform: scale(1.07, 1.07);
        @include botones (0px);
      }
      .ulMenu__ulSubMenu {
        background-color: $colorTerc;
        margin-right: 0;
        border: none;
        .ulMenu__liSubItems {
          color: $colorSecun;
          background-color: transparent;
          font-family: $fuenteTitLink;
          &:hover {
            color: $colorPrim;
            text-shadow: 0px 0px 30px $colorPrim;
            transform: scale(1.03, 1.03);
            transition: 400ms;
          }
        }
      }
    }
  }
}
