.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $colorTerc;
  box-shadow: 0px 0px 10px 0px gray;
  margin: 0 auto;
  transition: .5s ease all;
  &.navDark {
    transition: .5s ease all;
    background-color: $colorPrim;
    box-shadow: 0px 0px 10px 0px $colorTerc;
  }
  .header-nav {
    margin: 0;
    padding: 0;
    /*logo*/ //logo
    .header-nav__logo {
      background-color: $colorSecun;
      color: $colorPrim;
      font-family: $fuenteTitLink;
      border-radius: 2px 8px 2px 8px;
      padding: 0.2rem 0.3rem;
      margin: 0;
      &:hover {
        transform: scale(1.02, 1.02);
        transition: 300ms;
      }
    }
  } //menu /*menu*/
  .navbar-toggler {
    background-color: $colorPrim;
    border-radius: 2px 8px 2px 8px;
    margin: .2rem;
    
    .navbar-toggler-icon {
      background-color: $colorTerc;
      border-radius: 2px 6px 2px 6px;
    }
  }
  .header-nav__menu {
    justify-content: right;
    .header-nav__ulMenu {
      text-align: center;
      align-items: center;
      .header-nav__liItems {
        margin: 0 2rem;
        transform: scale(1.07, 1.07);
        @include efectos-menu(0, 0, $colorPrim, $colorSecun, 47%, 10px, 7px, $colorPrim, 105%, -100%);
        @media screen and (max-width:768px) {
          font-size: 1.1rem;
        }
        &.itemsDark {
          color: $colorTerc;
          &:hover {
            color: $colorSecun;
          }
          &::before {
            background: $colorTerc;
          }
          &::after {
            background: $colorSecun;
          }
        }
      }
      .header-nav__liItemBoton {
        margin: 0 4rem;
        transform: scale(1.07, 1.07);
        @include botones(0px);
      }
      .ulMenu__ulSubMenu {
        background-color: $colorTerc;
        border: none;
        width: 100px;
        &.subMenuDark {
          background-color: $colorSecun;
        }
        .ulMenu__liSubItems {
          @include efectos-menu(0, 0, $colorPrim, $colorSecun, 25%, 0, 3px, $colorPrim, 105%, -100%);
          font-size: 1rem;
          text-align: center;
          &.subItemsDark {
            color: $colorPrim;
            background-color: transparent;
            &:hover {
              background-color: transparent;
              color: $colorTerc;
            }
            &::before {
              background: $colorTerc;
            }
            &::after {
              background: $colorPrim;
            }
          }
        }
      }
    }
  }
}
