.main-index {
  margin: 0 0.5rem;
  .contButtonDark {
    position: fixed;
    top: 3rem;
    right: 1rem;
    margin: 0;
    padding: 0;
    transition: .5s ease all;
    .buttonDark {
      display: flex;
      position: relative;
      border: none;
      border-radius: 1000px;
      color: $colorPrim;
      background-color: $colorSecun;
      transition: .5s ease all;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: $colorPrim;
        border-radius: 100px;
        top: 0;
        left: 0;
        right: unset;
        transition: .5s ease all;
      }
      &.afterclick {
        background-color: $colorTerc;
        color: $colorPrim;
        transition: .5s ease all;
        &::after{
          right: 0;
          transform: translateX(100%);
          transition: .5s ease all;
        }
      }
      span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: none;
      }
    }
  }
  .main-index__seccion-1 {
    margin-top: 5rem;
    /*carrusel de imagenes automatico*/
    .seccion-1__div-contenedor {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      .seccion-1__div-carrusel {
        display: flex;
        align-items: center;
        .div-carrusel__h2-texto-carrusel {
          font-size: 3rem;
          text-align: center;
        }
      }
      //presentacion
      /*presentacion*/
      .seccion-1__div-presentacion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        width: 60%;
        margin-right: 5rem;
        .div-presentacion__div {
          margin-bottom: 3rem;
          .div__titulo-h1 {
            color: $colorPrim;
            letter-spacing: 5px;
            font-weight: bolder;
          }
          .div__parrafo-p {
            color: $colorTerc;
            padding: 0.3rem;
            margin: 0 3rem 2rem 3rem;
            font-family: "Montserrat", sans-serif;
            background-color: $colorSecun;
            border-radius: 2px 12px 2px 12px;
          }
          .div__parrafo-a {
            @include botones(0px);
            background-color: $colorSecun;
            &:hover {
              color: $colorPrim
            }
            &.div__parrafo-a-dark{
              border: 1px solid $colorPrim;
              &:hover{
                border: 1px solid $colorTerc;
              }
            }
          }
          .div__parrafo-a-primServ{
            @include botones(0px);
            cursor: pointer;
            &.btnPrimServDark {
              color: $colorPrim;
              border: 1px solid $colorTerc;
              background-color: $colorSecun;
              &:hover {
                color: $colorTerc;
                border: 1px solid $colorPrim;
              }
            }
          }
        }
        .contModal {
          display: none;
          z-index: 100;
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          margin: 0 auto;
          background-color: #1717178d;
          &.contModalDark {
            background-color: #000000e8;
          }
          .divContFormModal {
            background-color: $colorTerc;
            width: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 5px 20px 5px 20px;
            box-shadow: 0px 0px 25px 0px #000000;
            transform: translate(-50%, -50%);
            transition: all 400ms ease-in-out;
            animation-name: animModal;
            animation-duration: 1s;
            @keyframes animModal {
              0% {
                transform: translate(-50%, -300%);
              }
              100% {
                transform: translate(-50%, -50%);
              }
            }
            label {
              color: #da0039;
            }
            .spanCloseModal {
              position: absolute;
              color: $colorSecun;
              float: left;
              top: 0;
              right: 0;
              font-size: 28px;
              margin-right: 1rem;
              cursor: pointer;
              &:hover {
                color: $colorPrim;
              text-decoration: none;
              cursor: pointer;
              }
              &:focus {
                color: $colorPrim;
                text-decoration: none;
                cursor: pointer;
              }
              &.spanCloseModalDark {
                color: #da0039;
                &:hover {
                  color: #d2d2d2;
                }
              }
            }
            .formModal {
              .divInputs {
                margin-bottom: 1rem;
                .submitServmodCalcular {
                  @include botones (0px);
                }
                .resetMod {
                  @include botones(0px);
                }
                .submitServmodConfirmar {
                  @include botones (0px);
                  margin-right: 0;
                  display: none;
                }
              }
            }
            &.divContFormModalDark {
              border: 1px solid #da0039;
              background-color: #171717;
              label {
              color: "#da0039"
              }
            }
          }
        }
      }
    }
    .seccion-1__div-camionAnimacion {
      @include animacionCar-1-Index(275px, 40px, 35%, 1, -1, 8s);
    }
    .seccion-1__div-camionAnimacion2 {
      @include animacionCar-2-Index(400px, 35%, 40px, -1, 1, 8s);
    }
  }
}
@media screen and (max-width: 1023px) {
  .main-index {
    .main-index__seccion-1 {
      margin-top: 3rem;
      .seccion-1__div-contenedor {
        flex-direction: column;
        .seccion-1__div-carrusel {
          display: none;
        }
        .seccion-1__div-presentacion {
          width: 80%;
          margin: 0 auto;
          .div-presentacion__div {
            margin-bottom: 2rem;
          }
        }
      }
      .seccion-1__div-motitoDelivery {
        @include animacionMotito(550px, -3%px, 92%, 8s);
        @keyframes animacionMotito {
          0% {
            left: -3%;
            top: 550px;
            transform: scaleX(1);
            filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
              brightness(83%) contrast(109%);
          }
          50% {
            top: 550px;
            left: 92%;
            transform: scaleX(1) rotate(0);
            filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
              brightness(83%) contrast(109%);
          }
          51% {
            transform: scaleX(-1);
            filter: invert(0%) sepia(28%) saturate(5899%) hue-rotate(134deg)
              brightness(101%) contrast(82%);
          }
          100% {
            filter: invert(0%) sepia(28%) saturate(5899%) hue-rotate(134deg)
              brightness(101%) contrast(82%);
            transform: scaleX(-1);
          }
        }
      }
      .seccion-1__div-camionAnimacion {
        @include animacionCar-1-Index(120px, 10%, 80%, 1, -1, 8s);
      }
      .seccion-1__div-camionAnimacion2 {
        @include animacionCar-2-Index(235px, 80%, 10%, -1, 1, 8s);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .main-index {
    .main-index__seccion-1 {
      margin-top: 3rem;
      .seccion-1__div-contenedor {
        flex-direction: column;
        .seccion-1__div-carrusel {
          display: none;
        }
        .seccion-1__div-presentacion {
          width: 90%;
          margin: 0 auto;
          .div-presentacion__div {
            margin-bottom: 2rem;
            .div__titulo-h1 {
              letter-spacing: 0;
            }
            .div__titulo-h2 {
              padding: 0 2rem;
            }
            .div__parrafo-p {
              margin: 0 auto;
              text-align: left;
            }
          }
        }
      }
      .seccion-1__div-motitoDelivery {
        @include animacionMotito(140px, -10%px, 90%, 2s);
        width: 30px;
        height: 35px;
        @keyframes animacionMotito {
          0% {
            left: -10%;
            top: 140px;
            transform: scaleX(1);
            filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
              brightness(83%) contrast(109%);
          }
          100% {
            top: 140px;
            left: 90%;
            transform: scaleX(1) rotate(0);
            filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
              brightness(83%) contrast(109%);
          }
        }
      }
      .seccion-1__div-camionAnimacion {
        display: none;
      }
      .seccion-1__div-camionAnimacion2 {
        display: none;
      }
    }
  }
}
