html {
  .body {
    background-color: $colorPrim;
    transition: 0.5s ease all;
    &.bodyDark {
      transition: 0.5s ease all;
      background-color: $colorSecun;
    }
    .main-contacto {
      margin: 0 1rem;
      .contButtonDark {
        position: fixed;
        top: 3rem;
        right: 1rem;
        margin: 0;
        padding: 0;
        transition: 0.5s ease all;
        .buttonDark {
          display: flex;
          position: relative;
          border: none;
          border-radius: 1000px;
          color: $colorPrim;
          background-color: $colorSecun;
          transition: 0.5s ease all;
          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: $colorPrim;
            border-radius: 100px;
            top: 0;
            left: 0;
            right: unset;
            transition: 0.5s ease all;
          }
          &.afterclick {
            background-color: $colorTerc;
            color: $colorPrim;
            transition: 0.5s ease all;
            &::after {
              right: 0;
              transform: translateX(100%);
              transition: 0.5s ease all;
            }
          }
          span {
            width: 30px;
            height: 30px;
            line-height: 30px;
            background-color: none;
          }
        }
      }
      .contenedorMensajeContacto {
        display: none;
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0 auto;
        background-color: transparent;
        align-content: center;
        .divContMensErr {
          position: absolute;
          text-align: center;
          width: 25%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #da0039;
          border-radius: 0px 10px 0px 10px;
        }
        .divContMensExito {
          position: absolute;
          text-align: center;
          width: 25%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #d2d2d2;
          border: 1px solid #da0039;
          border-radius: 0px 10px 0px 10px;
        }
      }
      .main-contacto__seccion-1 {
        margin-top: 3rem;
        .main-contacto__article-contenedor {
          display: flex;
          justify-content: center;
          flex-wrap: nowrap;
          .main-contacto__div-tituloFormulario {
            margin-left: 5rem;
            text-align: center;
            width: 33%;
            .main-contacto__div-titulo {
              width: 100%;
              .div-titulo__h1-titulo {
                padding: 0.5rem;
              }
            }
            .main-contacto__div-formulario {
              .main-contacto__formulario {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                margin: 0 auto;
                .main-contacto__divs {
                  margin-bottom: 0;
                  em {
                    color: $colorPrim;
                    &.emdark {
                      color: $colorTerc;
                    }
                  }
                  .main-contacto__label {
                    @include labels;
                    &.labelsDark {
                      color: $colorPrim;
                    }
                  }
                  .ulSlctSer {
                    display: none;
                    list-style-position: unset;
                    padding-right: 2rem;
                    .liSelectServs {
                      @include efectos-menu(0, 0, $colorPrim, $colorSecun, 10%, 3px, 3px, $colorPrim, 400%, -400%);
                      cursor: pointer;
                    }
                  }
                  .labelNew {
                    @include newInputsDesign (100%, 5%, 36%)
                  }
                  
                  .main-contacto__submit {
                    @include botones(0);
                    margin: 0 1rem;
                  }
                }
              }
            }
          }
          .main-contacto__div-informacion {
            width: 50%;
            margin-left: 1rem;
            padding: 0 2rem;
            .main-contacto__div-p-info {
              padding-top: 3rem;
              margin: 0 auto;
              .main-contacto__p-info {
                font-size: 1.4rem;
                &.p_infodark {
                  color: $colorTerc;
                }
              }
            }
          }
          .main-contacto__div-cont-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            .main-contacto__div-iconoContacto {
              width: 80%;
              margin-top: 2rem;
              margin-bottom: 0.5rem;
              .main-contacto__img-icono-contacto {
                filter: invert(16%) sepia(67%) saturate(4657%)
                  hue-rotate(333deg) brightness(87%) contrast(117%);
                width: 8%;
                height: auto;
              }
              .main-contacto__span-contacto {
                color: $colorSecun;
                &.spanDark {
                  color: $colorTerc;
                }
              }
            }
          }
          .main__contenedor-modalLogin {
            @include cont-modal;
          }
        }
      }
    }

    @media screen and (max-width: 1023px) {
      .main-contacto {
        .main-contacto__seccion-1 {
          margin: 0 auto;
          .main-contacto__article-contenedor {
            flex-direction: column;
            margin: 0 auto;
            width: 70%;
            .main-contacto__div-tituloFormulario {
              margin: 0 auto;
              width: 70%;
              .main-contacto__div-titulo {
                .div-titulo__h1-titulo {
                  padding: 0;
                }
              }
              .main-contacto__div-formulario {
                width: 100%;
                margin: 0 auto;
                .main-contacto__formulario {
                  margin: 0 auto;
                  .main-contacto__divs {
                    text-align: center;
                    margin-bottom: 0.8rem;
                    .main-contacto__textarea {
                      width: 100%;
                    }
                  }
                }
              }
            }
            .main-contacto__div-informacion {
              padding: 0;
              margin: 0 auto;
              width: 100%;
              .main-contacto__div-p-info {
                text-align: justify;
              }
              .main-contacto__div-cont-icon {
                flex-direction: row;
                justify-content: center;
                flex-wrap: nowrap;
                width: 100%;
                text-align: center;
                .main-contacto__div-iconoContacto {
                  margin: 0 auto;
                  .main-contacto__img-icono-contacto {
                    margin: 0 auto;
                    width: 15%;
                    align-items: center;
                  }
                  .main-contacto__span-contacto {
                    display: block;
                    margin: 0 auto;
                  }
                }
              }
              .main__contenedor-modalLogin {
                margin-top: 2rem;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .main-contacto {
        .main-contacto__seccion-1 {
          margin: 0 auto;
          .main-contacto__article-contenedor {
            flex-direction: column;
            margin: 0 auto;
            width: 100%;
            .main-contacto__div-tituloFormulario {
              margin: 0 auto;
              width: 70%;
              .main-contacto__div-titulo {
                .div-titulo__h1-titulo {
                  padding: 0;
                }
              }
              .main-contacto__div-formulario {
                width: 90%;
                margin: 0 auto;
                .main-contacto__formulario {
                  margin: 0 auto;
                  .main-contacto__divs {
                    text-align: center;
                    margin-bottom: 0;
                    .main-contacto__textarea {
                      width: 100%;
                    }
                    .main-contacto__submit {
                      font-size: 0.8rem;
                      margin-bottom: 1rem;
                    }
                  }
                }
              }
            }
            .main-contacto__div-informacion {
              padding: 0;
              margin: 0 auto;
              width: 80%;
              .main-contacto__div-p-info {
                text-align: justify;
                margin-top: 0;
                padding: 0;
                .main-contacto__p-info {
                  font-size: 0.8rem;
                }
              }
              .main-contacto__div-cont-icon {
                flex-direction: column;
                justify-content: center;
                flex-wrap: nowrap;
                width: 100%;
                text-align: center;
                margin-bottom: 1rem;
                .main-contacto__div-iconoContacto {
                  margin: 0 auto;
                  .main-contacto__img-icono-contacto {
                    margin: 0 auto;
                    width: 10%;
                    align-items: center;
                  }
                  .main-contacto__span-contacto {
                    display: block;
                    margin: 0 auto;
                    font-size: 0.8rem;
                  }
                }
              }
              .main__contenedor-modalLogin {
                .main__botFlot-Reg {
                  font-size: 0.8rem;
                }
                button {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
