.main-index {
  margin: 0 0.5rem;
  .main-index__seccion-1 {
    margin-top: 5rem;
    //carrusel de imagenes automatico
    /*carrusel de imagenes automatico*/
    .seccion-1__div-contenedor {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      .seccion-1__div-carrusel {
        display: flex;
        align-items: center;
        .div-carrusel__h2-texto-carrusel {
          font-size: 3rem;
          text-align: center;
        }
      }
      //presentacion
      /*presentacion*/
      .seccion-1__div-presentacion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        width: 60%;
        margin-right: 5rem;
        .div-presentacion__div {
          margin-bottom: 3rem;
          .div__titulo-h1 {
            color: $colorPrim;
            letter-spacing: 5px;
            font-weight: bolder;
          }
          .div__parrafo-p {
            color: $colorTerc;
            padding: 0.3rem;
            margin: 0 3rem 2rem 3rem;
            font-family: "Montserrat", sans-serif;
            background-color: $colorSecun;
            border-radius: 2px 12px 2px 12px;
          }
          .div__parrafo-a {
            @include botones(0px);
          }
        }
      }
    }
    .seccion-1__div-motitoDelivery {
      @include animacionMotito(80px, -10%, 102%, 10s);
      .img-motito {
        width: 100%;
      }
    }
    .seccion-1__div-camionAnimacion {
      @include animacionCar-1-Index(275px, 40px, 35%, 1, -1, 6s);
    }
    .seccion-1__div-camionAnimacion2 {
      @include animacionCar-2-Index(400px, 35%, 40px, -1, 1, 8s);
    }
  }
}
@media screen and (max-width: 1023px) {
  .main-index {
    .main-index__seccion-1 {
      margin-top: 3rem;
      .seccion-1__div-contenedor {
        flex-direction: column;
        .seccion-1__div-carrusel {
          display: none;
        }
        .seccion-1__div-presentacion {
          width: 80%;
          margin: 0 auto;
          .div-presentacion__div {
            margin-bottom: 2rem;
          }
        }
      }
      .seccion-1__div-motitoDelivery {
        @include animacionMotito(540px, -3%px, 102%, 8s);
        @keyframes animacionMotito {
          0% {
            left: -3%;
            top: 540px;
            transform: scaleX(1);
            filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
              brightness(83%) contrast(109%);
          }
          50% {
            top: 540px;
            left: 102%;
            transform: scaleX(1) rotate(0);
            filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
              brightness(83%) contrast(109%);
          }
          51% {
            transform: scaleX(-1);
            filter: invert(0%) sepia(28%) saturate(5899%) hue-rotate(134deg)
              brightness(101%) contrast(82%);
          }
          100% {
            filter: invert(0%) sepia(28%) saturate(5899%) hue-rotate(134deg)
              brightness(101%) contrast(82%);
            transform: scaleX(-1);
          }
        }
      }
      .seccion-1__div-camionAnimacion {
        @include animacionCar-1-Index(120px, 20px, 90%, 1, -1, 8s);
      }
      .seccion-1__div-camionAnimacion2 {
        @include animacionCar-2-Index(230px, 90%, 20px, -1, 1, 8s);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .main-index {
    .main-index__seccion-1 {
      margin-top: 3rem;
      .seccion-1__div-contenedor {
        flex-direction: column;
        .seccion-1__div-carrusel {
          display: none;
        }
        .seccion-1__div-presentacion {
          width: 90%;
          margin: 0 auto;
          .div-presentacion__div {
            margin-bottom: 2rem;
            .div__titulo-h1 {
              letter-spacing: 0;
            }
            .div__titulo-h2 {
              padding: 0 2rem;
            }
            .div__parrafo-p {
              margin: 0 auto;
              text-align: left;
            }
          }
        }
      }
      .seccion-1__div-motitoDelivery {
        @include animacionMotito(140px, -10%px, 35%, 8s);
        width: 30px;
        height: 35px;
        @keyframes animacionMotito {
          0% {
            left: -10%;
            top: 140px;
            transform: scaleX(1);
            filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
              brightness(83%) contrast(109%);
          }
          50% {
            top: 140px;
            left: 102%;
            transform: scaleX(1) rotate(0);
            filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
              brightness(83%) contrast(109%);
          }
          51% {
            transform: scaleX(-1);
            filter: invert(0%) sepia(28%) saturate(5899%) hue-rotate(134deg)
              brightness(101%) contrast(82%);
          }
          100% {
            filter: invert(0%) sepia(28%) saturate(5899%) hue-rotate(134deg)
              brightness(101%) contrast(82%);
            transform: scaleX(-1);
          }
        }
      }
      .seccion-1__div-camionAnimacion {
        display: none;
      }
      .seccion-1__div-camionAnimacion2 {
        display: none;
      }
    }
  }
}
