//modal
@mixin cont-modal {
  text-align: center;
  .main__botFlot-Reg {
    @include botones(0px);
    background-color: $colorSecun;
    &:hover {
      color: $colorPrim;
    }
  }
  .main__botFlot-ing {
    @include botones(0px);
    margin-left: 1rem;
    &:hover {
      transform: scale(1.03, 1.03);
    }
  }
  .main__div-inSesion {
    width: 100%;
    .modal-dialog {
      .modal-content {
        .modal-header {
          .modal-title {
            font-family: $fuenteTitLink;
            font-size: 1.5rem;
            color: $colorPrim;
          }
        }
        .main__div-contenido-modal {
          width: 100%;
          .div-contenido-modal__div-tit {
            margin-bottom: 2rem;
            .div-contenido-modal__h3-tit {
              margin: 0 auto;
            }
          }
          .div-contenido-modal__div-form {
            .div-contenido-modal__form {
              display: flex;
              flex-direction: column;
              .form__divs {
                margin-bottom: 2rem;
                .form__label {
                  @include labels;
                }
                .form__input {
                  @include inpt-slct-txtar(70%);
                }
                .form__label-check {
                  color: $colorTerc;
                  font-weight: bolder;
                  text-decoration: none;
                }
                .submit__reset {
                  @include botones(0px);
                }
                .submit__sent {
                  @include botones(0px);
                  margin-left: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
//efecto hover aft bef
@mixin efectos-menu(
  $colorAfter,
  $colorBefore,
  $widthefect,
  $bottombef,
  $bottomaft,
  $colorlinkHover
) {
  position: relative;
  display: block;
  color: $colorSecun;
  font-family: $fuenteTitLink;
  font-size: 1.2rem;
  transition: all 300ms ease;
  &::before {
    content: "";
    position: absolute;
    bottom: $bottombef;
    left: 0;
    width: 0;
    height: 3px;
    background: $colorBefore;
    transition: 300ms;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: $bottomaft;
    right: 0;
    width: 0;
    height: 3px;
    background: $colorAfter;
    transition: 300ms;
  }
  &:hover {
    color: $colorlinkHover;
    &::before {
      width: $widthefect;
      transform: translate(105%);
    }
    &::after {
      width: $widthefect;
      transform: translate(-100%);
    }
  }
}
@mixin animacionNav {
  animation-name: animacion2_Nav;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  @keyframes animacion2_Nav {
    0% {
      transform: scaleX(-1);
    }
    10% {
      transform: scaleX(1);
    }
  }
}
//animaciones
@mixin animacionMotito($top, $left, $leftMov, $tiempoAnimacion) {
  position: absolute;
  top: $top;
  left: $left;
  width: 50px;
  margin: 0;
  z-index: 0;
  text-align: center;
  animation-name: animacionMotito;
  animation-duration: $tiempoAnimacion;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @keyframes animacionMotito {
    0% {
      left: $left;
      top: $top;
      transform: scaleX(1);
      filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
        brightness(83%) contrast(109%);
    }
    25% {
      transform: rotate(0);
      top: 80px;
    }
    26% {
      transform: rotate(45deg);
      top: 160px;
    }
    30% {
      transform: rotate(0);
    }
    50% {
      top: 160px;
      left: $leftMov;
      transform: scaleX(1) rotate(0);
      filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
        brightness(83%) contrast(109%);
    }
    51% {
      transform: scaleX(-1);
      filter: invert(0%) sepia(28%) saturate(5899%) hue-rotate(134deg)
        brightness(101%) contrast(82%);
    }
    74% {
      transform: scaleX(-1);
      top: 160px;
    }
    75% {
      transform: scaleX(-1) rotate(-45deg);
      top: 80px;
    }
    78% {
      transform: scaleX(-1) rotate(0);
    }
    100% {
      filter: invert(0%) sepia(28%) saturate(5899%) hue-rotate(134deg)
        brightness(101%) contrast(82%);
      transform: scaleX(-1);
    }
  }
}
@mixin animacionCar-1-Index(
  $top,
  $left,
  $leftMov,
  $scaleX1,
  $scaleX-1,
  $tiempoAnimacion
) {
  position: absolute;
  top: $top;
  left: $left;
  width: 90px;
  margin: 0;
  z-index: 0;
  text-align: center;
  animation-name: animacionCamion;
  animation-duration: $tiempoAnimacion;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @keyframes animacionCamion {
    0% {
      left: $left;
      top: $top;
      transform: scaleX(1);
    }
    50% {
      top: $top;
      left: $leftMov;
      transform: scaleX(1);
      filter: invert(0%) sepia(28%) saturate(5899%) hue-rotate(134deg)
        brightness(101%) contrast(82%);
    }
    51% {
      transform: scaleX(-1);
      filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
        brightness(83%) contrast(109%);
    }
    100% {
      filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
        brightness(83%) contrast(109%);
      transform: scaleX(-1);
    }
  }
}
@mixin animacionCar-2-Index(
  $top,
  $left,
  $leftMov,
  $scaleX-1,
  $scaleX1,
  $tiempoAnimacion
) {
  position: absolute;
  top: $top;
  left: $left;
  width: 90px;
  margin: 0;
  z-index: 0;
  text-align: center;
  animation-name: animacionCamion2;
  animation-duration: $tiempoAnimacion;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @keyframes animacionCamion2 {
    0% {
      left: $left;
      top: $top;
      transform: scaleX(-1);
    }
    50% {
      top: $top;
      left: $leftMov;
      transform: scaleX(-1);
      filter: invert(0%) sepia(28%) saturate(5899%) hue-rotate(134deg)
        brightness(101%) contrast(82%);
    }
    51% {
      transform: scaleX(1);
      filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
        brightness(83%) contrast(109%);
    }
    100% {
      filter: invert(18%) sepia(100%) saturate(6705%) hue-rotate(339deg)
        brightness(83%) contrast(109%);
      transform: scaleX(1);
    }
  }
}
@mixin botones($margin-bottom) {
  text-decoration: none;
  background-color: $colorPrim;
  color: $colorTerc;
  font-weight: bolder;
  font-family: "Stick No Bills", sans-serif;
  border: none;
  border-radius: 1px 8px 1px 8px;
  padding: 0.2rem 0.3rem;
  margin-bottom: $margin-bottom;
  box-shadow: 0px 1px 5px 0px $colorSecun;

  &:hover {
    transform: scale(1.03, 1.03);
    transition: 300ms;
    color: $colorSecun;
    font-weight: normal;
    text-decoration: none;
  }
}
//index-contenedor de servicios
@mixin main-index-contenedor-servicios(
  $grid-area-serv,
  $justify-self,
  $width,
  $widthimg
) {
  grid-area: $grid-area-serv;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: $justify-self;
  width: $width;
  border-radius: 2px 10px 2px 10px;
  background-color: transparent;
  transition: 200ms ease-in-out;
  position: relative;
  cursor: pointer;
  &::before {
    content: " ";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #da0039;
    opacity: 0.05;
    transition: 300ms ease all;
    border-radius: 2px 10px 2px 10px;
  }
  .div-contenedor-servs__h3-tit {
    text-decoration: 2px underline $colorPrim;
    margin: 0;
  }
  .div-contenedor-servs__img {
    width: $widthimg;
    height: auto;
    margin: 0;
  }
  .div-contenedor-servs__p {
    font-family: "Montserrat", sans-serif;
    padding: 0 0.5rem;
    margin: 0;
  }
  .div-contenedor-servs__span {
    font-family: "Montserrat", sans-serif;
    padding: 0 0.3rem;
    text-align: left;
    color: $colorPrim;
    margin: 0;
  }
  .btnCotiz {
    display: none;
    background-color: $colorPrim;
    color: $colorTerc;
    font-family: "Stick No Bills", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    border-radius: 1px 8px 1px 8px;
    padding: 0.2rem;
    box-shadow: 0px 1px 5px 0px $colorSecun;
    transition: .2s ease-in-out;
    animation-name: btnCotiz;
    animation-duration: .5s;
    transform: translate(-50%, -50%) scale(1.5, 1.2);
    &:hover {
      transform: translate(-50%, -50%)scale(1.6, 1.3);
    }
  }
  @keyframes btnCotiz {
    0% {
      transform: translate(-50%, -50%) scale(4, 1.5);
    }
    100% {transform: translate(-50%, -50%) scale(1.5, 1.2);}
  }
  &:hover {
    transform: translateY(-1%);
    &::before {
      opacity: .1;
    }
  }
  &:hover > .btnCotiz {
    display: block;
  }
}
//mixin valores seccion nosotros.html
@mixin nosotros-valores($grid-area, $margin-bottom) {
  grid-area: $grid-area;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-self: end;
  align-items: center;
  width: 230px;
  padding: 0 1rem;
  box-shadow: 0px 0px 5px $colorSecun;
  border-radius: 2px 10px 2px 10px;
  .nosotros-seccion-1-grilla-divs-valores__h2-tit {
    margin-top: 1rem;
    margin-bottom: $margin-bottom;
    font-size: 1.7rem;
    text-align: center;
  }
  .nosotros-seccion-1-grilla-divs-valores__p-parrafos {
    text-align: justify;
    padding: 0;
  }
  &:hover {
    box-shadow: 0px 0px 5px $colorPrim;
    transition: 300ms;
  }
}
@mixin nosotros-hr($grid-area) {
  grid-area: $grid-area;
  .nosotros-seccion-1-grilla-div-hr__hr {
    border: 2px solid $colorPrim;
  }
}
@mixin nosotros-opiniones($grid-area) {
  grid-area: $grid-area;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  .nosotros-seccion-1-grilla-div-opiniones__p-opinion {
    background-color: $colorSecun;
    color: $colorTerc;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border-radius: 2px 10px 2px 10px;
  }
  .nosotros-seccion-1-grilla-div-opiniones__p-persona {
    color: $colorPrim;
    margin: 0 auto;
    font-size: 0.9rem;
    width: 50%;
  }
  .span-negocio {
    color: $colorSecun;
    &.span-negocio-dark {
      color: $colorTerc;
    }
  }
}
//mixin contacto y formularios
@mixin inpt-slct-txtar($width) {
  color: $colorPrim;
  width: $width;
  text-align: center;
  border-radius: 2px 8px 2px 8px;
  box-shadow: 0px 1px 5px 0px $colorSecun;
  resize: none;
  &:hover {
    transform: scale(1.02, 1.02);
    transition: 300ms;
  }
}
@mixin labels {
  display: block;
  color: $colorSecun;
}
