//fuetes y colores
$colorPrim: #da0037;
$colorSecun: #171717;
$colorTerc: #e5e5e5;
$colorCuart: #e3a3b3;
$fuenteTitLink: "Stick No Bills", sans-serif;
$fuenteParrafos: "Montserrat", sans-serif;
//anncho y alturas